<div>

    <h1>Bienvenido</h1>
    <h2>Porfavor inicie sesion para continuar</h2>

    <form action="/login" method="POST" id="login-from">
        <input type="email" id="email" name="email" value="{{login}}" placeholder="Ingrese su Email" />
        <input type="password" id="password" name="password" value="{{pas}}" placeholder="Ingrese su Contraseña" />
        <input type="submit" value="Enviar" />
    </form>

    <h3>Si todavia no tenes una cuenta, registrate!!</h3>
    <a href="/register">Registrarme</a>

</div>