<h1>Orden de su compra</h1>

<div>
     {{#each allOrders}}
        <div>
            productos:
            {{order}}
        </div>
        <p>{{numOrder}}</p>
        <p>{{estado}}</p>
        
     {{/each}}

    <form action="/ordersView" method="POST">
        <button class="btn btn-success" type="submit">Confirmar compra</button>
    </form>

    
    

</div>



     