body{
    background-color: rgb(255, 201, 151);
}


.container{
   
    margin: auto;
    min-width: 20px;
    min-height: 500px;
    background-color: rgb(255, 136, 0);
    margin-top: 50px;


}


.container_card{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    background-color: blueviolet;
}

.container-cards-all {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 5px;
    align-items: center;
}